%transition-all {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

%no-spacings {
	margin: 0;
	padding: 0;
}

.trunk--header {
	position: fixed !important;
	z-index: 99 !important;
	top: 0;
	left: 0;
	right: 0;
}

.trunk--navigation {
	padding-top: 1em;
	padding-bottom: 1em;
}

nav.trunk--slide {
	@extend %no-spacings;
	position: absolute;
	top: 0;
	height: 100%;
	overflow-y: auto;
	position: relative;

	&.slideLeft,
	&.slideRight {
		width: 300px;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		margin: 0;
	}

	&.slideRight {
		left: auto;
		right: 0;
	}

	ul {
		padding: 0;
	}

	li {
		//@include inline-block;
		display: block;
		//float: none;
		padding-right: 0;

		a {
			display: block;
			padding: 0.72em 1.5em !important;
		}

		li {
			display: block;
		}
	}

	&.slide {
		@extend %no-spacings;

	}

	.dropdown .dropdown-menu {
		position: static;
		width: 100%;
	}

	.dropdown-container {
		border-radius: 0px;
	}
}

.trunk--group--header {
	padding: 10px 15px;
}

.trunk--group {
	padding: 10px 15px;
}

nav.trunk--open {
	&.slideLeft,
	&.slideRight {
		width: 300px;
		padding-right:60px;
	}

	&.slideRight {
		padding-right: 0px;
		padding-left:60px;
	}
}


//
// CSS3 Animations
//

nav {

	&.trunk--slide {
		&.slideLeft,
		&.slideRight {
			@extend %transition-all;
			// opacity: .3;
			// -webkit-transform: translate3d(5%,0,0)scale(.97);
			// -moz-transform: translate3d(5%,0,0)scale(.97);
			// transform: translate3d(5%,0,0)scale(.97);
		}

		&.slideLeft {
			left: 150px;
		}
		&.slideRight {
			right: 150px;
		}
	}

	&.trunk--open {
		&.slideLeft,
		&.slideRight {
			opacity: 1;
		}

		&.slideLeft {
			left: 0px;
			// -webkit-transform: translate3d(0,0,0)scale(1);
			// -webkit-animation: slideInLeft .35s ease-in-out;

			// -moz-transform: translate3d(0,0,0)scale(1);
			// -moz-animation: slideInLeft .35s ease-in-out;

			// transform: translate3d(0,0,0)scale(1);
			// animation: slideInLeft .35s ease-in-out;
		}

		&.slideRight {
			right: 0px;
			// -webkit-transform: translate3d(0,0,0)scale(1);
			// -webkit-animation: slideInRight .35s ease-in-out;

			// -moz-transform: translate3d(0,0,0)scale(1);
			// -moz-animation: slideInRight .35s ease-in-out;

			// transform: translate3d(0,0,0)scale(1);
			// animation: slideInRight .35s ease-in-out;
		}
	}

	&.trunk--close {
		&.slideLeft,
		&.slideRight {
			opacity: .3;
		}

		&.slideLeft {
			left: 150px;
			// -webkit-transform: translate3d(5%,0,0)scale(.97);
			// -webkit-animation: slideOutLeft .3s ease-in-out;

			// -moz-transform: translate3d(5%,0,0)scale(.97);
			// -moz-animation: slideOutLeft .3s ease-in-out;

			// transform: translate3d(5%,0,0)scale(.97);
			// animation: slideOutLeft .3s ease-in-out;
		}

		&.slideRight {
			right: 150px;
			// -webkit-transform: translate3d(-5%,0,0)scale(.97);
			// -webkit-animation: slideOutRight .3s ease-in-out;

			// -moz-transform: translate3d(-5%,0,0)scale(.97);
			// -moz-animation: slideOutRight .3s ease-in-out;

			// transform: translate3d(-5%,0,0)scale(.97);
			// animation: slideOutRight .3s ease-in-out;
		}
	}
}

.site.trunk--content {
	&.trunk--open {

		&.slideLeft,
		&.slideRight {
			overflow: hidden;
			bottom: 0;
			top: 0;
		}
	}

	&.trunk--close {}
}

.trunk--content {
	@extend %transition-all;
	position: absolute;
	z-index: 1;

	&.trunk--open {
		&.slideLeft,
		&.slideRight {
		}

		&.slideLeft {
			right: -240px;
			left: 240px;
			// -webkit-transform: translate3d(240px,0,0);
			// -webkit-animation: openLeft .5s ease-in-out;

			// -moz-transform: translate3d(240px,0,0);
			// -moz-animation: openLeft .5s ease-in-out;

			// transform: translate3d(240px,0,0);
			// animation: openLeft .5s ease-in-out;
		}

		&.slideRight {
			left: -240px;
			right: 240px;
			// -webkit-transform: translate3d(-240px,0,0);
			// -webkit-animation: openRight .5s ease-in-out;

			// -moz-transform: translate3d(-240px,0,0);
			// -moz-animation: openRight .5s ease-in-out;

			// transform: translate3d(-240px,0,0);
			// animation: openRight .5s ease-in-out;
		}
	}

	&.trunk--close {
		&.slideLeft,
		&.slideRight {
		}

		&.slideLeft {
			left: 0px;
			// -webkit-transform: translate3d(0,0,0);
			// -webkit-animation: closeLeft .3s ease-in-out;

			// -moz-transform: translate3d(0,0,0);
			// -moz-animation: closeLeft .3s ease-in-out;

			// transform: translate3d(0,0,0);
			// animation: closeLeft .3s ease-in-out;
		}

		&.slideRight {
			right: 0px;
			// -webkit-transform: translate3d(0,0,0);
			// -webkit-animation: closeRight .3s ease-in-out;

			// -moz-transform: translate3d(0,0,0);
			// -moz-animation: closeRight .3s ease-in-out;

			// transform: translate3d(0,0,0);
			// animation: closeRight .3s ease-in-out;
		}
	}
}


//
// CSS3 keyframe animations
//

//
// Slide om left
//

@-webkit-keyframes slideInLeft {
	0%       {opacity: .3;
				-webkit-transform: translate3d(5%,0,0)scale(.97);}
	100%  {opacity: 1;
				-webkit-transform: translate3d(0,0,0)scale(1);}
}
@-moz-keyframes slideInLeft {
	0%      {opacity: .3;
				-moz-transform: translate3d(5%,0,0)scale(.97);}
	100%  {opacity: 1;
				-moz-transform: translate3d(0,0,0)scale(1);}
}
@keyframes slideInLeft {
	0%      {opacity: .3;
				transform: translate3d(5%,0,0)scale(.97);}
	100%  {opacity: 1;
				transform: translate3d(0,0,0)scale(1);}
}

//
// Slide in right
//

@-webkit-keyframes slideInRight {
	0%       {opacity: .3;
				-webkit-transform: translate3d(-5%,0,0)scale(.97);}
	100%  {opacity: 1;
				-webkit-transform: translate3d(0,0,0)scale(1);}
}
@-moz-keyframes slideInRight {
	0%      {opacity: .3;
				-moz-transform: translate3d(-5%,0,0)scale(.97);}
	100%  {opacity: 1;
				-moz-transform: translate3d(0,0,0)scale(1);}
}
@keyframes slideInRight {
	0%      {opacity: .3;
				transform: translate3d(-5%,0,0)scale(.97);}
	100%  {opacity: 1;
				transform: translate3d(0,0,0)scale(1);}
}

//
// Slide out left
//

@-webkit-keyframes slideOutLeft {
	0%      {opacity: 1;
	-webkit-transform: translate3d(0,0,0)scale(1);}
	100%  {opacity: .3;
	-webkit-transform: translate3d(5%,0,0)scale(.97);}
}
	@-moz-keyframes slideOutLeft {
	0%      {opacity: 1;
	-moz-transform: translate3d(0,0,0)scale(1);}
	100%  {opacity: .3;
	-moz-transform: translate3d(5%,0,0)scale(.97);}
}
	@keyframes slideOutLeft {
	0%      {opacity: 1;
	transform: translate3d(0,0,0)scale(1);}
	100%  {opacity: .3;
	transform: translate3d(5%,0,0)scale(.97);}
}

//
// Slide out right
//

@-webkit-keyframes slideOutRight {
	0%      {opacity: 1;
	-webkit-transform: translate3d(0,0,0)scale(1);}
	100%  {opacity: .3;
	-webkit-transform: translate3d(-5%,0,0)scale(.97);}
}
@-moz-keyframes slideOutRight {
	0%      {opacity: 1;
	-moz-transform: translate3d(0,0,0)scale(1);}
	100%  {opacity: .3;
	-moz-transform: translate3d(-5%,0,0)scale(.97);}
}
@keyframes slideOutRight {
	0%      {opacity: 1;
	transform: translate3d(0,0,0)scale(1);}
	100%  {opacity: .3;
	transform: translate3d(-5%,0,0)scale(.97);}
}

//
// Open left
//

@-webkit-keyframes openLeft {
	0%      {-webkit-transform: translate3d(0,0,0);}
	70%    {-webkit-transform: translate3d(260px,0,0);}
	100%  {-webkit-transform: translate3d(240px,0,0);}
}
@-moz-keyframes openLeft {
	0%      {-moz-transform: translate3d(0,0,0);}
	70%    {-moz-transform: translate3d(260px,0,0);}
	100%  {-moz-transform: translate3d(240px,0,0);}
}
@keyframes openLeft {
	0%      {transform: translate3d(0,0,0);}
	70%    {transform: translate3d(260px,0,0);}
	100%  {transform: translate3d(240px,0,0);}
}

//
// Open right
//

@-webkit-keyframes openRight {
	0%      {-webkit-transform: translate3d(0,0,0);}
	70%    {-webkit-transform: translate3d(-260px,0,0);}
	100%  {-webkit-transform: translate3d(-240px,0,0);}
}
@-moz-keyframes openRight {
	0%      {-moz-transform: translate3d(0,0,0);}
	70%    {-moz-transform: translate3d(-260px,0,0);}
	100%  {-moz-transform: translate3d(-240px,0,0);}
}
@keyframes openRight {
	0%      {transform: translate3d(0,0,0);}
	70%    {transform: translate3d(-260px,0,0);}
	100%  {transform: translate3d(-240px,0,0);}
}

//
// Close left
//

@-webkit-keyframes closeLeft {
	0%      {-webkit-transform: translate3d(240px,0,0);}
	100%  {-webkit-transform: translate3d(0,0,0);}
}
@-moz-keyframes closeLeft {
	0%       {-moz-transform: translate3d(240px,0,0);}
	100%  {-moz-transform: translate3d(0,0,0);}
}
@keyframes closeLeft {
	0%       {transform: translate3d(240px,0,0);}
	100%  {transform: translate3d(0,0,0);}
}

//
// Close Right
//

@-webkit-keyframes closeRight {
	0%      {-webkit-transform: translate3d(-240px,0,0);}
	100%  {-webkit-transform: translate3d(0,0,0);}
}
@-moz-keyframes closeRight {
	0%      {-moz-transform: translate3d(-240px,0,0);}
	100%  {-moz-transform: translate3d(0,0,0);}
}
@keyframes closeRight {
	0%      {transform: translate3d(-240px,0,0);}
	100%  {transform: translate3d(0,0,0);}
}
