// ==========================================================================
// Elementer
// ==========================================================================

html {
    font-family: $font-family-base;
    color: $font-color-primary;
}

$image-background: "" !default;
@if $image-background != "" {
    .site {
        background-position: center center;
        background-repeat: repeat;
        background-attachment: fixed;
        background-image: url($image-background);
    }
}

body,
.site {
    background-color: $design-body-background-color;
}

hr {
    border-color: $design-border-color;
}


// ==========================================================================
// Site
// ==========================================================================

.site {
  box-shadow: 0px 0px 25px rgba(0,0,0,0.25);
}

.site-wrapper {
  background-color: $design-wrapper-background-color;
}

.site-header {
  background-color: $design-header-background-color;
  border-bottom: 1px solid dolp($design-header-background-color, 5%);
}

.site-navigation {
  background-color: $design-navigation-background-color;
}

.site-footer {
  background-color: $design-footer-background-color;

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    color: dolp($design-footer-background-color, 35%);
  }

  .fa-circle {
    color: dolp($design-footer-background-color, 10%);
  }
}


// ==========================================================================
// Brand colors
// ==========================================================================

.brand,
.brand:hover,
.brand:visited,
.brand:focus {
    color: $logo-color;
    font-family: $font-family-headline;
}

// ==========================================================================
// Button nav
// ==========================================================================

.button-nav {
}

  .m-quick-cart-price,
  .button-nav i {
    color: $design-navigation-background-color;
  }

  .m-quick-cart-price:hover,
  .button-nav:hover,
  .button-nav i:hover {
    color: dolp($design-navigation-background-color, 25%);
  }


// ==========================================================================
// Include at 3 (tablet)
// ==========================================================================

// ==========================================================================
// Include at 4 (960 dekstop)
// ==========================================================================

// ==========================================================================
// Include at 4 (1280 dekstop)
// ==========================================================================
