// ==========================================================================
// IE styles
// ==========================================================================

// Set charset
@charset "UTF-8";

// Module dependencies
@import "compass";

// Globals
@import "globals/settings";
@import "globals/mixins";
@import "libs/torqueui/globals/_mixins_template";


//
// Menu
//

.ielt9 {
    .site-header,
    .site-corporate,
    .site-navigation {
        .container,
        .container.with-xlarge,
        .row {
            overflow: visible;
        }
    }
}

.ie7 {
    nav.trunk--open.slideLeft,
    nav.trunk--open.slideRight {
        width: 240px;
    }

    .trunk--navigation{
        width:440px !important;
        .m-quick-cart{
            a.button-nav{
                background:url('../images/icon-cart.png') no-repeat right 0;
            }
            .quick-cart-expanded-total{
                .col-s-2{
                    width:150px;
                }
            }
        }

        .pull-right{
            background:url('../images/icon-menu.png') no-repeat 0 0;
        }
    }
}

//
// Bottom
//
.ie7{
    .site-footer{

        .container.with-xlarge .col-xl-6{
            width:220px !important;
        }
    }
    .social-google{
        background:url('../images/icon-google-plus.png') no-repeat 0 0;
    }
    .social-facebook{
        background:url('../images/icon-facebook-plus.png') no-repeat 0 0;
    }
    .social-twitter{
        background:url('../images/icon-twitter-plus.png') no-repeat 0 0;
    }
}

// ==========================================================================
// IE9
// ==========================================================================

.ie9 {
    #vbpt-scope{
        display: none;
    }
}
