// ==========================================================================
// Site
// ==========================================================================

.site {
	left: 0;
	z-index: 5;
	right: 0;
	box-shadow: 0px 0px 25px rgba(0,0,0,0.25);
	padding-top: 73px;
	min-height: 100%;
}
// avoid new z-index stacking on modal openings
body.modal--open > .trunk--content {
	position: static;
}

//
// Navigation
//

.site-navigation {
	ul ul {

	}
	.dropdown.open {
		> ul {
			display: block;
		}
	}

	.navbar-header {
		padding: 1em;
	}

	.navbar .navbar-brand {
		margin: 0 1em 0 0;
	}

	.navbar-collapse {
		padding: 0 1em;
	}
}

//
// Header
//

.site-header {
	position: relative;
	padding-top: .25em;
	padding-bottom: .25em;
}

	.site-brand {
		padding: 0 10px;
	}

.logo {
	height: 64px;
	max-height: 64px;
	vertical-align: middle;
	display:table-cell;
}

	.logo a {
		display: block;
	}

	.logo img {
		height: 100%;
		*height: auto;
		max-height: 33px;
		width: auto;
		margin: 0;
		display: block;
		max-width: 100%;
	}

.brand {
	font-size: 28px;
}

.site-content {
	position: relative;
	margin-bottom: 2em;
}

.site-section {
	margin-bottom: 2em;
}

.site-footer {
	padding-top:3em;
	padding-bottom:1em;

	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6 {
		line-height: 1em;
	}

	hr {
		margin-top: 2em;
		margin-bottom: 2em;
	}


	.footer-sitemap,
	.footer-account,
	.footer-contact {
		margin-bottom: 2em;
	}
}

.page-title {
  margin: 0 0 .95em;
  padding: 0 0 1em;
  border-bottom: 1px solid transparent;
  text-align: center;

    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
      &:first-child {
        margin-bottom: 0;
      }
    }
}

.m-cart-header {
    text-align: left;
}

.page-title-frontpage {
  margin: 0 0 .95em;
  padding: 1em 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.button-nav {
	display: block;
	border: 0;
	background: none;
	height: 37px;
	padding: 0px 12px;
	font-size: 20px;
	line-height: 37px;
}

img.responsive {
  width: auto !important;
  height: auto !important;
}

// ==========================================================================
// Include at 3 (tablet)
// ==========================================================================


// ==========================================================================
// Include at 4 (960 dekstop)
// ==========================================================================

@include from(4) {
	.dropdown:hover>.dropdown-menu {
		display: none !important;
		filter: alpha(opacity=0) !important;
		opacity: 0 !important;
	}
	.dropdown.open:hover>.dropdown-menu {
		display: block!important;
		opacity: 1!important;
		filter: alpha(opacity=100)!important;
	}
}

// ==========================================================================
// Include at 4 (1280 dekstop)
// ==========================================================================


@include from(4) {
	.site {
		padding-top: 100px;
	}
	.site-corporate {
		padding: .5em;
	}

	.site-navigation {

		.dropdown .dropdown-menu {
			padding-top: 1em;
			padding-bottom: 1em;
		}

		.dropdown-menu .dropdown-menu {
			display: none;
		}

		.dropdown.active:not(.item-1) >.dropdown-menu {
		    display: block!important;
		    opacity: 1!important;
		    filter: alpha(opacity=100)!important
		}

		.dropdown-container {
			@include border-radius(0px);
			border-top: 0px none;
		}

		.navbar-collapse {
			padding: 0em;
		}

		.navbar-header {
			padding: 0;
		}

		.marker {
			padding: 0.8em;
		}
	}

	.logo {
		height: 73px;
		max-height: 73px;
	}

	.site-header {
		padding-top: 1em;
		padding-bottom: 1em;
	}
}

//
// LazyLoad
//
:not(.ielt9) .placeholder-wrapper {
    width: 100%;
    box-sizing: content-box;
    position: relative;
    height: auto;
    display: inline-block;
}
:not(.ielt9) .placeholder-wrapper > .placeholder {
    display: block;
    width: 100%;
    padding-top: 100%;
}
:not(.ielt9) .placeholder-wrapper > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.ielt9 .lazyOwl,
.ielt9 .lazyload {
    display: none !important;
}
.lazyload,
.lazyloading,
.lazyloaded {
    opacity: 0;
    transition: opacity 0.3s;
}
img.lazyloaded {
    opacity: 1;
}

//
// touch screens: avoid zoom on inputs
//
html.touch {
    .form-input,
    .form-input.input-group-main {
        font-size: 16px;
        padding-left: 0.5em;
        padding-right: 0.5em;
        &.form-select {
            padding: 0 0.5em;
        }
    }
}