.trunk--navigation {
}

.site {
}

nav.trunk--slide {
	.marker {
		color: $design-navigation-font-color;
	}

	&.slideLeft,
	&.slideRight {
		//background-color: #c14b45; //colored by site-navigation
	}

	&.slideRight {
	}

	ul {
	}

	li {

		a,
		a:visited {
			color: $design-navigation-font-color;
			&:hover {
				color: $design-navigation-font-color;
			}
		}

		&:hover {
			background-color: dolp($design-navigation-background-color, 5%);
		}

		&.active {
			background-color: dolp($design-navigation-background-color, 15%);
		}

		li {
			display: block;
			a,
			a:visited {
				color: $design-navigation-font-color;
				&:hover {
					color: dolp($design-navigation-font-color, 15%);
				}
			}
		}

	}

	&.slide {
		@extend %no-spacings;
	}

	.dropdown .dropdown-menu {
		background-color: dolp($design-navigation-background-color, 5%);
	}

	.dropdown-container {
		background-color: dolp($design-navigation-background-color, 5%);
		border-color: dolp($design-navigation-background-color, 5%);
	}
}

.trunk--group--header {
	color: $design-navigation-font-color;
	border-bottom: 1px solid dolp($design-navigation-background-color, 10%);
	background: dolp($design-navigation-background-color, 5%);

	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6 {
		color: $design-navigation-font-color;
	}
}

.trunk--group {
}

nav.trunk--open {
	&.slideLeft,
	&.slideRight {
	}

	&.slideRight {
	}
}
