.productItem {
	.type-col {
		.product-transaction {
			border-top: 1px solid $design-border-color;
		}

		.product-delivery {
			border-bottom: 1px solid $design-border-color;
		}
	}

	.type-row {
	}

	.m-productlist-price {
		color: $font-color-primary;
	}
}