.angular-productlist {
    min-height: 400px;
}
.categorylist + .angular-productlist {
    min-height: 0;
}
.productItem {
    margin-bottom: 1em;

    .image {
        position: relative;
    }

    .title {
        margin-bottom: 1em;

        h1,h2,h3,h4,h5,h6,
        .h1,.h2,.h3,.h4,.h5,.h6 {
            margin-bottom: .25em;
        }
    }

    .product-delivery {
        margin: 0 0 1em;

    }

    .paymentOption {
        margin: 1.5em 0 .5em 0;
    }

    .variants {
        margin-bottom: 1em;
    }

    .figure {
        a, img {
            display: block;
        }
    }

    .description {
        margin-bottom: 1em;
    }

    .productContent {
        @include clearfix;

        .separator:last-child {
            margin-bottom: 0;
        }

        .image a {
            display: block;
        }
    }

    .product-price-terms {
        font-size: .85em;
    }

    // type-col styling

    .type-col {
        text-align: center;

        .product-description {
            margin-bottom: 1em;
        }

        .product-transaction,
        .product-action {
            padding: 1em;
        }

    }

    // type-row styling

    .type-row {
        .product-transaction {
        }

        .image img {
            margin-bottom: 0;
        }

        .title,
        .product-delivery,
        .description,
        .m-reviews-stars {
        }

        @include from (3) {
            .title,
            .product-delivery,
            .description,
            .m-reviews-stars {
                padding: 0;
            }
        }
    }
}
