
// ==========================================================================
// Select2 colors (http://ivaynberg.github.io/select2/)
// ==========================================================================

.select2-container {
    .select2-choice {
        background-image: none !important;
        filter: none !important;
        border-color: $color-input-border !important;
        background-color: $color-input-back;
        color: $color-input-color !important;
        font-size: 12px;
        font-weight: 400;
        border-radius: $border-radius;

        @include box-shadow(inset 0 1px 5px rgba(0,0,0,.1));

        &:hover {
            background-color: $color-input-back-hover;
        }

        &:focus {
            @include box-shadow(0 0 4px 1px rgba(190,234,255,.75), inset 0 1px 5px rgba(0,0,0,.1));
        }

        //
        // Disable styles
        //
        &.is-disabled,
        &:disabled,
        &.select2-disabled {
            color: $color-input-color-disabled;
            background-color: $color-input-back-disabled;

            .select2-arrow {
                color: $color-input-color-disabled;
                background-color: $color-input-back-disabled;
            }
        }
        .select2-arrow {
            background-image: none !important;
            filter: none !important;
            border-radius: 0 $border-radius $border-radius 0;
            border-color: transparent !important;
            background-color: transparent !important;
        }
    }
}

.select2-results {
    color: $color-input-color;
    font-size: 12px;
    font-weight: 400;
    .select2-disabled {
        background: #e6e6e6;
    }

    small {
        color: #444;
    }
}

.flash .select2-container .select2-choice {
    @include theme-alerts($panel-warning-color, false);
}
