/*
# Description

## Date last modified

*/

//
// Quick cart
//

.m-quick-cart {
	li {
		margin: 0;
	}
	> .dropdown:hover>.dropdown-menu {
			display: block !important;
			filter: alpha(opacity=1) !important;
			opacity: 1 !important;
	}
 .cart-counter{
		 font-size: 12px;
		 position: absolute;
		 right: 1px;
		 top: 5px;
	}
}

@include at(1) {
	.m-quick-cart-price {
		display: none;
	}

	.m-quick-cart .dropdown.open >.dropdown-menu,
	.m-quick-cart .dropdown:hover > .dropdown-menu {
		display: none !important;
	}
}

@include at(2) {
	.m-quick-cart-price {
		display: none;
	}

	.m-quick-cart .dropdown.open >.dropdown-menu,
	.m-quick-cart .dropdown:hover > .dropdown-menu {
		display: none !important;
	}
}

@include from(4) {
	.dropdown-menu {
		max-width: 300px;
	}
}
