//
// Theme
// -----------------------------------------------------------------------------

//
// Setup for framework default theme
//

// ==========================================================================
// Fonts
// ==========================================================================

//
// Font-face
//

$font-family-base                   : sans-serif !default;
$font-family-headline               : serif !default;


// ==========================================================================
// Swatches
// ==========================================================================

$color-highlight                    : #88888a !default;
$color-main                         : #656764 !default;
$color-subtle                       : #9e9e9e !default;

$color-main-light                   : lighten($color-main, 30%) !default;
$color-main-dark                    : darken($color-main, 10%) !default;

$color-gray                         : #eee !default;
$color-gray-light                   : #dddbd9 !default;
$color-gray-dark                    : darken(#eee, 10%) !default;

$color-default-bck                  : #fff !default;
$color-default-bck-hover            : #f5f5f3 !default;

$color-callout                      : #9bc34d !default;
$color-callout-light                : #d7fa93 !default;
$color-callout-dark                 : #7c9c3e !default;

$color-info                         : #ededeb !default;
$color-info-light                   : #f5f5f3 !default;
$color-info-dark                    : $color-main !default;

$color-warning                      : #faebcc !default;
$color-warning-light                : #fdf9e4 !default;
$color-warning-dark                 : #896c3b !default;

$color-danger                       : #ebccd1 !default;
$color-danger-light                 : #f2dede !default;
$color-danger-dark                  : #a94442 !default;


// ==========================================================================
// Colors
// ==========================================================================

//
// General
//

$color-border                       : $color-gray-light !default;

//
// Typography
//

$color-font-base                    : $color-main !default;
$color-font-headings                : $color-main-dark !default;
$color-font-hightlight              : $color-highlight !default;
$color-font-small-caps              : $color-main-light !default;


//
// Inputs
//

$color-input-back                   : #fff !default;
$color-input-color                  : #656764 !default;
$color-input-border                 : #cfcfcf !default;
$color-input-back-hover             : #fcfcfc !default;
$color-input-back-disabled          : $color-input-back-hover !default;
$color-input-color-disabled         : dolp($color-input-color, 30%) !default;


//
// Badges
//

$color-badge-callout                : $color-callout !default;
$color-badge-info                   : $color-info !default;
$color-badge-clean                  : transparent !default;
$color-badge-warning                : $color-warning !default;
$color-badge-danger                 : $color-danger !default;


//
// Buttons
//

$color-button-clean                 : $color-default-bck !default;
$color-button-clean-font            : $color-main !default;
$color-button-primary               : $color-highlight !default;
$color-button-primary-font          : #fff !default;
$color-button-text                  : transparent !default;
$color-button-text-font             : $color-main !default;


//
// Symbols
//

$color-symbol                       : $color-main-light !default;
$color-symbol-hover                 : $color-main !default;


//
// Panels
//

$color-panel-callout                : $color-callout !default;
$color-panel-info                   : $color-info !default;
$color-panel-default                : transparent !default;
$color-panel-warning                : $color-warning !default;
$color-panel-danger                 : $color-danger !default;
$color-panel-border                 : $color-default-bck !default;
$color-panel-border-border          : $color-border !default;


//
// Navs
//

$color-nav-menu                      : $color-highlight !default;

$color-nav-pills                     : transparent !default;
$color-nav-pills-font                : $color-subtle !default;
$color-nav-pills-hover               : $color-info !default;

$color-nav-tabs                      : $color-default-bck !default;
$color-nav-tabs-font                 : $color-main !default;
$color-nav-tabs-pane                 : $color-default-bck !default;


//
// Dropdowns
//

$color-dropdown                     : $color-default-bck !default;
$color-dropdown-border              : $color-info !default;
$color-dropdown-font                : $color-main !default;


//
// Pagination
//

$color-pagination                   : $color-default-bck !default;
$color-pagination-font              : $color-main !default;


//
// Lists
//

$color-list-striped                 : $color-info-light !default;


//
// Table
//

$color-table-striped                : $color-subtle !default;
